# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [7]:
!pip install openpyxl
# In case there is an error with this .xlsx document opening, install this library

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [2]:
import pandas as pd
import numpy as np

In [202]:
elteams=pd.read_csv("actual.csv")
ecteams=pd.read_excel("ec2023.xlsx", index_col=False)

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

In [203]:
# Your Code here: 
ecteams

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
0,0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0
1,1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0
2,2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0
3,3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0
4,4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0
...,...,...,...,...,...,...,...,...,...,...
168,165,2023-10-04T18:00:00,1,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71.0,Local,80.0,9.0
169,166,2023-10-04T18:00:00,1,Prometey Slobozhanske,Veolia Towers Hamburg,97,77.0,Local,97.0,20.0
170,167,2023-10-03T20:30:00,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,105.0,27.0
171,168,2023-10-03T19:30:00,1,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,Local,80.0,10.0
172,169,2023-10-03T19:00:00,1,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,Local,100.0,27.0

In [35]:
ecteams.isna().sum() # buscamos cuantos nules tenemos

Unnamed: 0    0
fecha         0
ronda         0
local         0
visitante     0
localscore    0
roadscore     1
Winner        0
Ganador       1
plusminus     1
dtype: int64

In [72]:
ecteams.loc[ecteams['roadscore'].isna(), :] # en que fila está

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
142,139,2023-10-24T19:30:00,4,Veolia Towers Hamburg,Hapoel Shlomo Tel Aviv,72,NaN,Visitante,NaN,NaN

In [99]:
len(ecteams) # compruebo la length

170

In [100]:
ecteams.dropna(inplace=True) # me cargo la fila de los nules

In [98]:
len(ecteams) # compruebo que el df tiene una fila menos

170

In [173]:
ecteams.duplicated().sum() # calculo el num de filas duplicadas

0

In [103]:
ecteams.drop_duplicates(inplace=True) # me las cargo y veo que ahora tengo 2 filas menos
ecteams.shape

(170, 10)

In [128]:
# Analizemos si hay algun valor estraño

print(ecteams.localscore.max())
print(ecteams.Ganador.max())
print(ecteams.roadscore.max())
print(ecteams.Winner.value_counts())
print(ecteams.ronda.value_counts())
print(ecteams.dtypes)
print(ecteams.columns)

120
120.0
114.0
Winner
Local        90
Visitante    80
Name: count, dtype: int64
ronda
17    10
9     10
3     10
4     10
5     10
6     10
7     10
8     10
10    10
16    10
11    10
12    10
13    10
2     10
14    10
15    10
1     10
Name: count, dtype: int64
Unnamed: 0      int64
fecha          object
ronda           int64
local          object
visitante      object
localscore      int64
roadscore     float64
Winner         object
Ganador       float64
plusminus     float64
dtype: object
Index(['Unnamed: 0', 'fecha', 'ronda', 'local', 'visitante', 'localscore',
       'roadscore', 'Winner', 'Ganador', 'plusminus'],
      dtype='object')

In [ ]:
# parece que está todo en orden

Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [107]:
#Your sample ecteams code here: 
ecteams.sample()

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
75,75,2023-12-06T18:00:00,10,Besiktas Emlakjet Istanbul,Joventut Badalona,81,85.0,Visitante,85.0,-4.0

In [129]:
#Your sample elteams code here: 
elteams.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
187,Euroleague,Regular Season,21,2024-01-12,20:30:00,FC Barcelona,Zalgiris Kaunas,91,73,"['PATERNICO, CARMELO', 'DRAGOJEVIC, IGOR', 'TH...",18,FC Barcelona,Local

What are the inconsistencies that you are seeing? Write them down!

- EL tiene más columnas: Competition, Phase y Arbitros
- Los nombres de las columnas estan capitalizados
- La 'fecha' está separada en dos columnas: dia y hora
- No tenemos informació de los árbitros en EC
- EC tiene una columna de indices: 'Unnamed:0'
- EL: la columna 'Winner' muestra el nombre del equipo, no sólo Local o Visitante
- EC: la columna 'Ganador' muestra el score del equipo ganador, en EL muestra si ganó el equipo local o el visitante.
- Es decir, EC 'Winner' y EL 'Ganador' son iguales.

<details>
    <summary> Expand the box to see the inconsistencies </summary>

- The columns are named in lowercase and the columns in Euroleague are capitalized
- There are some missing columns (f.e. Arbitros)
- Fecha is not split in Dia and Hora
- `Winner and Ganador Columns show different data` are not the same! Be extremely careful about it

</details>

As you can see there are a lot of different inconsistencies right? 
But beofore starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [133]:
#Your Code here: 
ecteams['Competition'] = 'Eurocup'

In [136]:
ecteams.sample()

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Competition
122,120,2023-11-07T18:00:00,6,7bet-Lietkabelis Panevezys,Mincidelice JL Bourg en Bresse,100,96.0,Local,100.0,4.0,Eurocup

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [138]:
#Drop the Column Ganador from the Eurocup Dataframe
ecteams.drop(columns='Ganador', inplace=True)

In [149]:
#Rename the column with the actual information to "Ganador"
ecteams.rename(columns={'Winner':'Ganador'}, inplace=True)
ecteams.sample()

,Unnamed: 0,Fecha,Ronda,Local,Visitante,Localscore,Roadscore,Ganador,Plusminus,Competition
19,19,2024-01-23T18:00:00,16,U-BT Cluj-Napoca,Dolomiti Energia Trento,88,83.0,Local,5.0,Eurocup

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it?

In [154]:
# Your code here: 
columnas_minusc = {i:i.capitalize() for i in ecteams.columns}
ecteams.rename(columns = columnas_minusc, inplace=True)
ecteams.sample()

,Unnamed: 0,Fecha,Ronda,Local,Visitante,Localscore,Roadscore,Ganador,Plusminus,Competition
12,12,2024-01-24T20:00:00,16,Umana Reyer Venice,Wolves Vilnius,57,75.0,Visitante,-18.0,Eurocup

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [157]:
# Your code here: 
comp_ec = ecteams[['Competition', 'Localscore', 'Roadscore', 'Plusminus', 'Ganador']]
comp_ec.sample()

    Competition  Localscore  Roadscore  Plusminus Ganador
152     Eurocup          92       88.0        4.0   Local

In [158]:
comp_el = elteams[['Competition', 'Localscore', 'Roadscore', 'Plusminus', 'Ganador']]
comp_el.sample()

    Competition  Localscore  Roadscore  Plusminus Ganador
161  Euroleague          83         78          5   Local

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [219]:
# Your code here: 
competition = pd.concat([comp_ec, comp_el])
competition

    Competition  Localscore  Roadscore  Plusminus    Ganador
0       Eurocup         111      113.0       -2.0  Visitante
1       Eurocup          78       97.0      -19.0  Visitante
2       Eurocup          66       86.0      -20.0  Visitante
3       Eurocup          85       92.0       -7.0  Visitante
4       Eurocup          64       68.0       -4.0  Visitante
..          ...         ...        ...        ...        ...
220  Euroleague          79       73.0        6.0      Local
221  Euroleague          80       68.0       12.0      Local
222  Euroleague          76       85.0       -9.0  Visitante
223  Euroleague          88       84.0        4.0      Local
224  Euroleague          76       69.0        7.0      Local

[395 rows x 5 columns]

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [342]:
# 1 with groupby
competition[['Competition', 'Ganador']].groupby('Competition').count()

             Ganador
Competition
Eurocup          170
Euroleague       225

In [236]:
# 1 with the 'Competition' df
print(f"Eurocup Matches: {len(competition[competition['Competition'] == 'Eurocup'])}")
print(f"Euroleague Matches: {len(competition[competition['Competition'] == 'Euroleague'])}")

Eurocup Matches: 170
Euroleague Matches: 225

In [237]:
# 1 although is easier to do it with the previous df
print(f"Eurocup Matches: {len(comp_ec)}")
print(f"Euroleague Matches: {len(comp_el)}")

Eurocup Matches: 170
Euroleague Matches: 225

In [360]:
# 2 What are the maximum points that a local team has scored per competition? And the road team as well. 

# la manera más fácil
max_points = competition[['Competition', 'Localscore', 'Roadscore']].groupby('Competition').max()
max_points.astype(int)

             Localscore  Roadscore
Competition
Eurocup             120        114
Euroleague          130        126

In [350]:
# 2 What are the maximum points that a local team has scored per competition? And the road team as well. 
EC = competition[competition['Competition'] == 'Eurocup']
print("Eurocup")
print(f"Maximum points scored by the local team: {EC.Localscore.max()}")
print(f"Maximum points scored by the road team: {int(EC.Roadscore.max())}")
print("")
EL = competition[competition['Competition'] == 'Euroleague']
print("Euroleague")
print(f"Maximum points scored by the local team: {EL.Localscore.max()}")
print(f"Maximum points scored by the road team: {int(EL.Roadscore.max())}")

Eurocup
Maximum points scored by the local team: 120
Maximum points scored by the road team: 114

Euroleague
Maximum points scored by the local team: 130
Maximum points scored by the road team: 126

In [395]:
# 3 Do the same operations with the average points (per competition)

# la manera más fácil
mitjana = competition[['Competition', 'Localscore', 'Roadscore']].groupby('Competition').mean()
round(mitjana, 2)

             Localscore  Roadscore
Competition
Eurocup           85.24      83.96
Euroleague        83.28      79.17

In [309]:
# 3 Do the same operations with the average points (per competition)
print("Eurocup")
print(f"Average local team score: {round(EC.Localscore.mean(), 2)}")
print(f"Average road team score: {round(EC.Roadscore.mean(), 2)}")
print("")
print("Euroleague")
print(f"Average local team score: {round(EL.Localscore.mean(), 2)}")
print(f"Average road team score: {round(EL.Roadscore.mean(), 2)}")

Eurocup
Average local team score: 85.24
Average road team score: 83.96

Euroleague
Average local team score: 83.28
Average road team score: 79.17

In [328]:
# 4 Can you tell me the maximum difference that has been in a match, splitted by competition? 
    # - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory.
    # To have the absolute, create a new Column named Absolut_Plusminus. 

# sin np.where

def absolut (x):
    if x < 0:
        return x*-1
    else: 
        return x

competition['Absolut_Plusminus'] = competition.Plusminus.apply(absolut)
competition

,Competition,Localscore,Roadscore,Plusminus,Ganador,Absolut_Plusminus,Absolut
0,Eurocup,111,113.0,-2.0,Visitante,2.0,2.0
1,Eurocup,78,97.0,-19.0,Visitante,19.0,19.0
2,Eurocup,66,86.0,-20.0,Visitante,20.0,20.0
3,Eurocup,85,92.0,-7.0,Visitante,7.0,7.0
4,Eurocup,64,68.0,-4.0,Visitante,4.0,4.0
...,...,...,...,...,...,...,...
220,Euroleague,79,73.0,6.0,Local,6.0,6.0
221,Euroleague,80,68.0,12.0,Local,12.0,12.0
222,Euroleague,76,85.0,-9.0,Visitante,9.0,9.0
223,Euroleague,88,84.0,4.0,Local,4.0,4.0
224,Euroleague,76,69.0,7.0,Local,7.0,7.0

In [333]:
# Remember: np.where is life!

competition['Absolut_Plusminus'] = np.where(competition.Plusminus < 0, competition.Plusminus*-1, competition.Plusminus)
competition

,Competition,Localscore,Roadscore,Plusminus,Ganador,Absolut_Plusminus
0,Eurocup,111,113.0,-2.0,Visitante,2.0
1,Eurocup,78,97.0,-19.0,Visitante,19.0
2,Eurocup,66,86.0,-20.0,Visitante,20.0
3,Eurocup,85,92.0,-7.0,Visitante,7.0
4,Eurocup,64,68.0,-4.0,Visitante,4.0
...,...,...,...,...,...,...
220,Euroleague,79,73.0,6.0,Local,6.0
221,Euroleague,80,68.0,12.0,Local,12.0
222,Euroleague,76,85.0,-9.0,Visitante,9.0
223,Euroleague,88,84.0,4.0,Local,4.0
224,Euroleague,76,69.0,7.0,Local,7.0

In [394]:
maxdif = competition[['Competition','Absolut_Plusminus']].groupby('Competition').max()
maxdif.astype(int)

             Absolut_Plusminus
Competition
Eurocup                     39
Euroleague                  39

In [334]:
print("Maximum difference of points scored")
print(f"Eurocup: {EC.Absolut_Plusminus.max()}")
print(f"Euroleague: {EL.Absolut_Plusminus.max()}")

Maximum difference of points scored
Eurocup: 39.0
Euroleague: 39.0

In [393]:
# 5 Also grouped by competition, give me the number of victories of the Locals and the Visitors
pd.crosstab(competition['Competition'], competition['Ganador'], competition['Ganador'], aggfunc='count')

Ganador      Local  Visitante
Competition
Eurocup         90         80
Euroleague     150         75